@import url('https://fonts.googleapis.com/css?family=Lobster|Viaoda+Libre&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    line-height: 1.5;
    font-family:'Lobster', cursive;
}

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./images/coffee.jpg' ) fixed no-repeat center/cover;
    position: relative;

}
.banner{
    text-align: center;
    top: 50%;
    left: 10%;
    color: whitesmoke;
    position: absolute;

}
.banner-title{
    font-size: 2rem;
    letter-spacing: 1.5rem;

}
.section{
    background: grey;
}
.article{
    padding: 2.5rem 0;
    text-align: center;
    float: left;
    width: 50%;
    background: grey;

    
}
.title{
    font-weight: bold;
    text-transform: uppercase;
}
.desc{
    text-transform: capitalize;
}
.image{
    
}